* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

body {
    background: linear-gradient(135deg, #e0f7fa 0%, #80deea 50%, #4dd0e1 100%);
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


button {
    border-radius: 10px;
    padding: 1px;
    background-color: rgb(96, 205, 255);
    border: none;
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3);
    grid-gap: 10px;
}


.logo-icon{
    display: flex;
    align-items: center;
    padding-right: 50px;
}

header{ 
    display: flex;
}

.card {
    background-color: #a2dcfd;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    width: 90%;
    max-width: 600px;
}

.btn-clear{
    background-color: rgba(255, 63, 63, 0.884);
}

span{
    color: rgb(0, 81, 255);
}

.inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 0.9rem;
}

.resultado {
    margin-top: 20px;
    background-color: #d1fdff;
    border-left: 4px solid #38bdf8;
    padding: 15px;
    border-radius: 8px;
    width: 367px;
}

.resultado h3 {
    margin-top: 0;
    color: #38bdf8;
}